{{#if userInSession}}
  <section id="profile">
    <div class="profile-card">
      <img src="https://api.adorable.io/avatars/150/abott@adorable.png" alt="" class="avatar">
      <h4>Bienvenue, {{ userInSession.username }} !</h4>
      <p>Date d'inscription : {{userInSession.createdAt}}</p>
      <p>Nombre de bars ajoutés : </p>
      <p>Nombre de bars favoris : </p>
    </div>

    <div class="user-bars">
        <div class="title">
          <h4>Les bars que j'ai ajoutés</h4>
        </div>
        <div class="added-bars">
          {{#each bars}}
            <div class="bar">
              <a href="/bars/{{id}}">
                <img src="{{imageURL}}" alt="">
                <div class="infos">
                  <h6>{{name}}</h6>
                  <p>{{address}}</p>
                  <p class="price">{{minimumCb}}€</p>
                </div>
              </a>
            </div>
          {{/each}}
        </div>
    </div>


    <div class="user-favorite-bars">
        <div class="title">
          <h4>Mes bars favoris</h4>
        </div>
        <div class="added-bars">
          {{#each bars}}
            <div class="bar">
              <a href="/bars/{{id}}">
                <img src="{{imageURL}}" alt="">
                <div class="infos">
                  <h6>{{name}}</h6>
                  <p>{{address}}</p>
                  <p class="price">{{minimumCb}}€</p>
                </div>
              </a>
            </div>
          {{/each}}
        </div>
    </div>
  </section>
{{else}}
  <section id="unregistered">
    <div>
      <p>Vous devez être connecté(e) pour accéder à cette page !</p>
      <div class="links">
        <a href="/signup" class="btn btn-green">Sign up</a>
        <a href="/login" class="btn btn-green-light">Log in</a>
      </div>
    </div>
  </section>
{{/if}}