<h2>Bars</h2>
{{#if userInSession}}
<a href="/bars/new">Add a bar</a>
{{/if}}

<form action="/bars" method="GET">
  <label>
    Bar
    <input type="text" name="name">
  </label>
  
  <button type="submit">SEARCH</button>
</form>

<section id="bar-index">
  <div class="bars">
    {{#each bars}}
      <div class="bar">
        <img src="{{imageURL}}" alt="">
        <h3>{{name}}</h3>
        <p>{{address}}</p>
        <p>{{minimumCb}}€</p>
        <p>Creator : {{user_id}}</p>
        <a href="/bars/{{id}}">See more</a>
      </div>
    {{/each}}
  </div>
</section>