<div class="bar-details">
  <div id="map"> </div>
  
  <div class="bar-info">

    
    <img src="{{bar.imageURL}}" alt="">
    <h3>{{bar.name}}</h3>
    <p>{{bar.address}}</p>
    <h5>{{bar.minimumCb}}€</h5>

    <div class="bar-buttons">
      
      {{#if isCreator}}    
        <p class="btn btn-green-light"><a href="/bars/{{bar.id}}/edit">Editer</a></p>
        <form action="/bars/{{bar.id}}/delete" method="POST">  
          <button class="btn btn-green">supprimer</button>
        </form>  
      {{/if}}
    </div>
  </div>
  
</div>
<script>
  // global `DATAS` variable
  window.WINDATAS = {{{json WINDATAS}}};
</script>
