<div class="bar-details">
  <div id="map"> </div>
  
  <div class="bar-info">

    
    <img src="{{bar.imageURL}}" alt="">
    <h3>{{bar.name}}</h3>
    <p>Address: {{bar.address}}</p>
    <p>Minimum payment by credit card: {{bar.minimumCb}}</p>

    <div>
      
      {{#if isCreator}}
        <form action="/bars/{{bar.id}}/delete" method="POST">  
          <button class="btn btn-green">supprimer</button>
        </form>      
        <p><a href="/bars/{{bar.id}}/edit">Edit</a></p>
      {{/if}}
    </div>
    <p><a href="/bars">Back to bars list</a></p>
  </div>
  
</div>
<script>
  // global `DATAS` variable
  window.WINDATAS = {{{json WINDATAS}}};
</script>
